.cp-banner {
    display: table;
    position: relative;

    .cp-logo-banner {
        display: table-cell;
        vertical-align: middle;
        height: 100vh;
        width: 100vw;

        img {
            margin: 0 auto;
            display: table;
            width: 75%;
            margin-top: -3%;
            z-index: 2;
            position: relative;

            @include respond-to(xs) {
                width: 95%;
            }
        }
    }

    .cp-banner-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0;

        figure {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            /*animation*/
            -o-animation: slideShow 18s linear infinite 0s;
            -moz-animation: slideShow 18s linear infinite 0s;
            -webkit-animation: slideShow 18s linear infinite 0s;
            animation: slideShow 24s linear infinite 0s;


            &.cp-banner-pic-1 {
                opacity: 1;
                background: url('../assets/images/banner-bg2.png') no-repeat center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }

            &.cp-banner-pic-2 {
                animation-delay: 6s;
                -o-animation-delay: 6s;
                -moz--animation-delay: 6s;
                -webkit-animation-delay: 6s;
                background: url('../assets/images/banner-bg3.png') no-repeat center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }

            &.cp-banner-pic-3 {
                animation-delay: 12s;
                -o-animation-delay: 12s;
                -moz--animation-delay: 12s;
                -webkit-animation-delay: 12s;
                background: url('../assets/images/banner-bg4.png') no-repeat center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }

            &.cp-banner-pic-4 {
                animation-delay: 18s;
                -o-animation-delay: 18s;
                -moz--animation-delay: 6s;
                -webkit-animation-delay: 18s;
                background: url('../assets/images/banner-bg3.png') no-repeat center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        }
    }



    .cp-banner-tag {
        position: absolute;
        bottom: 13%;

        ul {
            li {
                h3 {
                    background: $dark-bg;
                    color: $brand-color;
                    padding: 12px 80px;
                    position: relative;
                    width: 360px;

                    @include respond-to(xs) {
                        width: 100%;
                        text-align: center;
                        border-bottom: 3px solid #ffa400;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        right: -13px;
                        width: 30px;
                        height: 100%;
                        background: $brand-color;
                        top: 0;
                        -moz-transform: skew(-28deg);
                        -ms-transform: skew(-28deg);
                        -o-transform: skew(-28deg);
                        -webkit-transform: skew(-28deg);
                        transform: skew(-28deg);

                        @include respond-to(xs) {
                            content: none;
                        }
                    }
                }

                &:last-child {
                    h3 {
                        padding: 12px 60px 12px 80px;
                        margin-bottom: 0;
                        width: 330px;
                    }
                }
            }
        }
    }

    .cf-mscroll {
        position: absolute;
        bottom: 0;
        width: 100%;

        a {
            display: inline-block;
            color: #fff;
        }
    }
}

.cp-welcome {
    padding: 120px 0;
    background: $dark-bg;
    overflow: hidden;
    color: #eae9e4;

    @include respond-to(xs) {
        padding: 60px 0;
    }

    hgroup {
        color: #eae9e4;
        margin-bottom: 50px;

        h1 {
            font-weight: 400;
            font-size: 50px;

            @include respond-to(xs) {
                font-size: 30px;
                margin-bottom: 25px;
                padding-bottom: 25px;
                border-bottom: 5px solid #ffa400;
            }
        }

        h3 {
            width: 82%;
            margin: 0 auto;
            text-transform: capitalize;
            font-weight: 400;
            font-size: 20px;

            @include respond-to(xs) {
                width: 100%;
            }

            @include respond-to(sm) {
                width: 100%;
            }
        }
    }

    .cp-services {
        h3 {
            margin: 100px 0 50px;

            @include respond-to(xs) {
                margin: 50px 0;
            }
        }

        .cp-card {
            @include respond-to(xs) {
                margin-bottom: 35px;
            }

            @include respond-to(sm) {
                margin-bottom: 45px;
            }

            &-img {
                margin-bottom: 35px;

                &:after {
                    content: '';
                    background: #eae9e4;
                    width: 2px;
                    height: 70px;
                    position: absolute;
                    right: -1px;

                    @include respond-to(xs) {
                        content: none;
                    }

                    @include respond-to(md) {
                        content: none;
                    }
                }




                img {
                    height: 60px;

                    @include respond-to(md) {
                        height: 48px;
                    }
                }
            }

            &-content {
                h5 {
                    font-size: 20px;

                    @include respond-to(md) {
                        font-size: 16px;
                    }
                }
            }
        }

        .col-md-2 {
            &:last-child {
                .cp-card-img {
                    &:after {
                        content: none;
                    }
                }
            }

            &:nth-child(3) {
                .cp-card-img {
                    &:after {
                        @include respond-to(sm) {
                            content: none;
                        }
                    }
                }
            }
        }
    }
}

.cp-testimonial {
    background: url('../assets/images/testi-bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 150px 0;

    @include respond-to(xs) {
        padding: 50px 0;
        background-size: initial;
    }

    .cp-testi-handler {
        background: rgba(246, 159, 1, 0.70);
        padding: 50px 0;
        position: relative;

        .cp-testi {
        }

        .cp-testi-video {
            background: $dark-bg;
            padding: 20px;
            display: inline-block;
            /*.col-sm-4 {
                a {
                    &:first-child {
                        margin-bottom: 10px;
                        display: inline-block;
                    }
                }
            }

            .col-sm-8 {
                @include respond-to(xs) {
                    margin-top: 10px;
                }
            }*/
            ul {
                li {
                    float: left;
                    padding:5px;
                    
                    &:first-child, &:last-child {
                        width: 33.33333%;
                    }

                   &:nth-child(2) {
                        width: 66.66667%;
                            float: right;
                    }
                    img{
                        width:100%;
                    }
                }
            }
        }

        .cp-testi-caro {
            color: $primary-bg;
            position: relative;
        }
    }
}

.cp-offers {
    background: $dark-bg;
    padding: 50px 0;
    color: #f2ece1;
    overflow: hidden;

    &-content {
        background-color: rgba(246, 159, 1, 0.72);
        box-shadow: black 1px -2px 20px;
        padding: 25px;
    }

    &-title {
        padding: 25px 0;
    }

    ul {
        /*vertical-align: middle;
        display: table-cell;
        height: 600px;

        @include respond-to(xs) {
            display: block;
            height: auto;
        }

        @include respond-to(sm) {
            height: 350px;
        }

        @include respond-to(md) {
            height: 440px;
        }*/
        li {
            font-size: 16px;
            margin-bottom: 25px;

            @include respond-to(sm) {
                font-size: 13px;
            }
        }
    }

    .cp-list-left {
        &.fa-ul {
            padding: 0;
            margin-left: 0;
            margin-right: 2.14285714em;

            @include respond-to(xs) {
                margin-right: 0;
                margin-left: 2.14285714em;
            }
        }

        li {
            text-align: right;
            direction: rtl;


            @include respond-to(xs) {
                text-align: left;
            }

            i {

                &.fa-li {
                    right: -2.14285714em;
                    top: -0.1em;
                    opacity: 0.6;

                    @include respond-to(xs) {
                        left: -2.14285714em;
                        right: auto;
                        -moz-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    .cp-list-right {

        li {
            .fa-li {
                top: -0.1em;
                opacity: 0.6;
            }
        }
    }

    &-model {
        margin-top: -100px;

        img {
            -moz-transform: translate(0%,10%);
            -ms-transform: translate(0%,10%);
            -o-transform: translate(0%,10%);
            -webkit-transform: translate(0%,10%);
            transform: translate(0%,10%);

            @include respond-to(sm) {
                -moz-transform: translate(0%,22%);
                -ms-transform: translate(0%,22%);
                -o-transform: translate(0%,22%);
                -webkit-transform: translate(0%,22%);
                transform: translate(0%,22%);
            }

            @include respond-to(md) {
                -moz-transform: translate(0%,25%);
                -ms-transform: translate(0%,25%);
                -o-transform: translate(0%,25%);
                -webkit-transform: translate(0%,25%);
                transform: translate(0%,25%);
            }

            @media only screen and (min-width:1200px) and (max-width:1399px) {
                -moz-transform: translate(0%,17%);
                -ms-transform: translate(0%,17%);
                -o-transform: translate(0%,17%);
                -webkit-transform: translate(0%,17%);
                transform: translate(0%,17%);
            }

            @media only screen and (min-width:1400px) and (max-width:1599px) {
                -moz-transform: translate(0%,20%);
                -ms-transform: translate(0%,20%);
                -o-transform: translate(0%,20%);
                -webkit-transform: translate(0%,20%);
                transform: translate(0%,20%);
            }
        }
    }
}

.cp-para {
    background: url('../assets/images/testi-bg.jpg') no-repeat center center;
    /*background-size: cover;*/
    background-attachment: fixed;
    color: $primary-bg;
    text-shadow: 1px 1px 1px #000;
}


.cp-gallery {
    padding-top: 50px;
    background: $dark-bg;

    ul {
        margin: 0;

        li {
            width: 25%;
            float: left;
            display: none;

            &:hover {
                cursor: pointer;
            }

            img {
                width: 100%;
            }
        }
    }
}
